@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%),
url("hixs-evolution.png"), radial-gradient(ellipse at center, #243B55 0%, #000 100%);
$bupa: #0079c8;

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: $background;
  background-attachment: fixed;
  color: #ebebeb;
  font-family: 'Ubuntu', sans-serif;
}

body {
  opacity: 0;
  transition: opacity 500ms;
}

.container {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  section {
    flex-grow: 1;
    align-self: flex-start;
    justify-self: flex-start;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    > [id$="-chart"] {
      content: "";
      clear: both;
      display: table;
    }

    h1 {
      font-weight: normal;
      text-transform: uppercase;
      margin: 1rem;
    }

    h2 {
      text-align: center;
    }
  }

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 500ms;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: $background;
    background-attachment: fixed;
    z-index: -1;
  }

  .inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    article {
      border-radius: 2px;
      padding: .5rem 1.5rem;
      margin: 1.5rem 3rem 4rem;
      background: rgba(0, 0, 0, 0.9);
    }
  }
}

#annotate-controls {
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  background: $bupa;
  display: flex;
  flex-direction: column;

  a {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;

    &.active, &:focus, &:active {
      background: darken($bupa, 5%);
      box-shadow: inset 0 0 9px 3px rgba(0, 0, 0, 0.4);
    }
  }
}

.brand {
  width: 4.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: $bupa;
}

#demo-controls {
  position: fixed;
  bottom: 0;
  right: 5rem;
  padding: 0 1rem;
  height: 4rem;
  z-index: 999;
  background: $bupa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0 0 0.1em;
  }

  a {
    color: #fff;
    text-decoration: underline dotted;

    &:hover {
      color: #aaa;
    }
  }
}

.canvasjs-chart-credit {
  display: none;
}
