@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%),
  url("hixs-evolution.png"), radial-gradient(ellipse at center, #243B55 0%, #000 100%);
  background-attachment: fixed;
  color: #ebebeb;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    section {
      flex-grow: 1;
      align-self: flex-start;
      justify-self: flex-start;
      margin: 1rem;

      > [id$="-chart"] {
        content: "";
        clear: both;
        display: table;
      }

      h1 {
        font-weight: normal;
        text-transform: uppercase;
        margin: 0 1rem 1rem;
      }

      h2 {
        text-align: center;
      }
    }
  }

}

.canvasjs-chart-credit {
  display: none;
}
